<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- 配置springMVC的前端控制器 -->
 <servlet>
 	<servlet-name>springmvc</servlet-name>
 	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 	<!-- 指定我们呢springMVC的核心配置文件 -->
 	<init-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>classpath:springmvc.xml</param-value>
 	</init-param>
 	<!--随着服务启动  -->
 </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>asd</servlet-name>
    <servlet-class>com.fj.controller.asd</servlet-class>
  </servlet>

 
 <!--配置映射关系  -->
 <servlet-mapping>
 	<servlet-name>springmvc</servlet-name>
 	<url-pattern>*.action</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>asd</servlet-name>
    <url-pattern>/servlet/asd</url-pattern>
  </servlet-mapping>
</web-app>